.upgrade__button {
  justify-content: flex-end;
}

.header__main {
  background-color: black;
  height: 90px;
}

.button {
  border-radius: 50px;
  width: 216px;
  height: 42px;
  background-color: black;
  color: white;
  border: solid white 1px;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.2);
}

.upgrade__button {
  padding-top: 20px;
  padding-right: 15px;
}

ul#menu li {
  display: inline;
  color: var(--playlist-text-gray);
  font-size: 12px;
  cursor: pointer;
  padding-right: 10px;
}

ul#menu li:hover {
  color: var(--white);
}


.list__menu {
  padding-top: 22px;
  justify-content: center;
}

.content {
    padding-left: 20px;
    padding-right: 20px;
}

.recent__play {
    font-size: 25px;
    padding-top:30px ;
}

.col-6 {
    padding-top: 20px;
    text-align: center;
}

.padding__30 {
    padding-top: 30px;
}

.padding__30bottom {
  padding-bottom: 30px;
}

.padding__song {
    padding-top: 10px;
}

.sub__title {
    padding-top: 10px;
    font-size: 10px;
    color: var(--playlist-text-gray)
    
}

.circle__image {
    border-radius: 50%;
}



.profile-img-container {
  position: relative;
  display: inline-block;
}

.profile-img-container:hover {
   opacity: 0.8;
}

.profile-img-container:hover a {
  opacity: 1;
  top: 0; 
}

.profile-img-container:hover a span {
  top: 50%;
  position: absolute;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.profile-img-container a {
  display: block;
  position: absolute;
  top: -100%;
  opacity: 0;
  left: 0;
  bottom: 0;
  right: 0;
  }

.size {
  font-size: 50px;
}




/*
.image1 {
  position: relative;
}

.image2 {
  position: absolute;
  bottom: 0px;
  opacity: 0;
  transition: all 0.7s ease;
}

.image2:hover {
  opacity: 1;
}

*/




