/* media query */

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
	.site__logo {
		display: none;
	  }

	  

	  .logo {
		background-image: url("./img/logo-small.svg");
		background-size:contain;
   		width: 40px; 
    height: 40px; 
	  }
	
	.playlst ul {
		display: none; /* Nasconde completamente l'elemento <ul> */
	  }

	  .noshow__text {
		display: none;
	  }

	  .download__img,
	  .profile__img {
		display: inline-block; /* Mostra solo le immagini con classi "download__img" e "profile__img" */
	  }

	 
	  

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.app__sidebar {
		width: var(--sidebar-width);
	}

	.album__cover {
		width: 42px;
	}

	.track-timeline {
		gap: 24px;
	}
}

