/* media query */
@media (max-width: 576px) {
	.site__logo {
		display: none;
	  }
	.logo {
		background-image: url("./img/logo-small.svg");
		background-size:contain;
		margin-top: 30px;
		margin-left: -3px;
   		width: 30px; 
    	height: 30px;
	}
	
	.playlst ul {
		display: none; 
	  }

	  .noshow__text {
		display: none;
	  }

	  .profile-img-container {
		width: 150px;
		height: 150px;
	  }

	  #menu  {
		text-align: center;
       	padding: 5px 5px 5px 5px;
        margin: 1vh;
    }
}

@media screen and (max-width: 1800px) and (min-width: 577px) {
	.app__main-content {
		width: 100%;
	}
	
	.app__sidebar {
		width: 20%;
	}

	.album__cover {
		width: 42px;
	}

	.track-timeline {
		gap: 24px;
	}

	.profile-img-container {
		width: 150px;
		height: 150px;
	  }

	  #menu  {
		text-align: center;
       	padding: 5px 5px 5px 5px;
        margin: 1vh;
    }
}



 











