/*
#player-bar {
    background-color: var(--player-bar-bg);
    gap:16px;
    min-height: 90px;
}

#player-bar .player-control {
    width: 100%;
    flex-basis: auto;
    max-width: 428px;
    gap: 10px;
}

#player-bar .player-control .icons {
    gap: 16px;
}

#player-bar .center-icon {
    font-size: 30px;
    transition: transform 0.5s;
}

#player-bar .track-bar {
    gap: 24px;
}

#player-bar .left-side .img-container {
    padding: 10px;
    width: 80px;
    flex-basis: auto;
}

#player-bar .left-side .song-detail {
    flex-basis: auto;
}

#player-bar .left-side .img-container img {
    width: 100%;
}

#player-bar .left-side .artist-name:hover {
    text-decoration: underline;
}

#player-bar .left-side .song-name {
    font-size: 13px;
    font-weight:bolder
}

#player-bar .left-side .artist-name {
    font-size: 10px;
    color: var(--playlist-text-gray);
    font-weight: 500;
}

.hover-space {
    padding: 12px 0;
    cursor: pointer;
}

#player-bar .time-bar {
    cursor: pointer;
    background-color: var(--player-bar-color);
    height: 5px;
    border-radius: 7px;
    transition: transform 0.5s;
}

#player-bar .time-bar .time-bar__progress {
    background-color: var(--underline-green);
}

#player-bar .hover-space:hover .time-bar__progress .white-bar{
    transform: translateY(-50%) scale(3);
}

#player-bar .time-bar .time-bar__progress {
    width: 20%;
    background-color: var(--white);
    height: 5px;
    border-radius: 10px;
    position: absolute;
    
    transition-duration: 0.5s;
}

#player-bar .left-side {
    min-width: var(--side-bar-width);
}

#player-bar .right-side {
    min-width: var(--side-bar-width);
    flex-basis: auto;
}

#player-bar .right-side .volume-bar {
    background-color: var(--player-bar-color);
    height: 3px;
    border-radius: 5px;
    cursor: pointer;
}

#player-bar .right-side .volume-bar .current-volume-bar {
    width: 40%;
    background-color: var(--white);
    height: 5px;
    border-radius: 500px;
    position: absolute;
    top: -1px;
    transition-duration: 0.4s;
}

#player-bar .right-side .hover-space:hover .current-volume-bar{
    background-color: chartreuse;
}

#player-bar .right-side .hover-space:hover .current-volume-bar .white-bat{
    transform: translateY(-50%) scale(3);
}

.white-bar {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 100%;
    transition-duration: 0.2s;
}

#player-bar .right-side {
    gap: 14px;
    justify-content: space-between;
    padding-right: 8px;
    font-size: 12px;
}

*/

/* app toolbar */
.track-player {
	width: 50%;
}

.album-preview,
.track-controls {
	flex-basis: var(--sidebar-width);
}

.album-preview {
	padding: 0 10px;
	gap: 20px;
}

.album,
.album-controls {
	gap: 10px;
}

.album-controls {
	flex-wrap: wrap;
}

.album__cover {
	width: 28px;
	aspect-ratio: 1;
}

.track-player .controls {
	gap: 20px;
	font-size: 22px;
}

.controls .control-icon.control--play {
	font-size: 30px;
	margin: 0 10px;
}

.progress-bar {
	background-color: var(--icon-playerbar-gray);
	border-radius: 999px;
	position: relative;
}

.progress {
	height: 6px;
	border-radius: 999px;
	width: var(--progress);
	background-color: rgb(179, 179, 179);
}

.track-timeline {
	gap: 14px;
}

.progress-handler {
	width: 16px;
	height: 16px;
	background-color: rgb(255, 255, 255);
	border-radius: 999px;
	position: absolute;
	left: var(--progress);
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

.progress-bar:hover .progress-handler {
	display: block;
}

.progress-bar:hover .progress {
	background-color: var(--underline-green);
}

.track-controls {
	gap: 16px;
	padding: 0px 10px;
	font-size: 18px;
}

.text-gray {
    color: var(--playlist-text-gray);
    cursor: pointer;
} /* add */

.text-gray:hover {
    color: var(--white);
}

.track-player .control--play:hover{
    transform: scale(1.5);
}

.album__track-name{
    color: var(--icon-playerbar-gray);
}

.album__track-name:hover {
    text-decoration: underline;
}

.album, .album-controls, .controls, .track-timeline, .track-controls {
    cursor: pointer;
}








