/* utilities */

.row {
    display: flex;
    border: solid greenyellow 1px;
}

.align-items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.row-horizontal {
    flex-direction: row;
}

.row-vertical {
    flex-direction: column;
}